html,body,form{
    height:100%;
}
@mixin selectSet($color)//選択肢のデザインを変える関数
{
    ul{
        list-style: none;
        .Text{
            border:dashed 5px $color;
        }
        li{
            box-sizing: border-box;
            display:flex;
            width:95%;
            margin:20px 0;
            padding:10px;
            border:solid 5px $color;
            border-radius:10px;
            color:white;
            word-break: break-all;
            input{
                font-size:40px;
                width:100%;
                background-color:black;
                color:white;
                border:none;
                border-radius:10px;
                font-family:Impact;
                outline: none;
                cursor:default;
            }
            div{
                //background-color:red;
                i{
                    margin-left:auto;
                    font-size:50px;
                }
            }
           
        }
    }
}
@mixin inputSet()
{
    border:solid 5px yellow;
    border-radius:10px;
    background-color:black;
    color:white;
}
body{//背景を黒にする
    background-color:black;
    font-family:Impact;
}
.clear{
    clear:left;
}
.close{
    display:none!important;
}
.show{
    display:block;
}
.zoom{//#Ainputを大きくするときの設定------------------ここでQuillのdivにposition:fixedを指定しています。---------------------
    position:fixed;
    top:50px;
    // bottom:0;
    // left:0;
    // right:0;
    //margin:auto;
    // height:85% !important;
    // z-index:9;
}
.EditButtonS{//メモが開かれた時にEditButtonに付ける設定
    z-index:10;
    position:fixed;
    top:-33px;
    right:150px;
    i{
        font-size:60px;
    }
}
.OFF{//ボタンが浮いているように見せる
    box-shadow:0 6px black;
    top:0;
}
.ON{//ボタンが押されているように見せる
    box-shadow:none!important;
    top:6px;
}
#AdditionalScreenBlock{//新しいボタンやテキストを入力する画面の裏面を暗くする
    background-color:rgba(255, 254, 254,0.5);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    display:none;
    //z-index:5;
    #CloseButton{
        position:absolute;
        top:10px;
        right:30px;
        font-size:60px;
    }
    #TextshowBox{
        display:none;
        height:100%;
        //background-color:red;
        textarea{
            @include inputSet();
            font-size:20px;
            cursor:default;
            resize: none;
            outline: none;
            margin:70px auto;
            width: 95%;
            height:85%;
        }
    }
    #warningScreen{//ボタンなどを削除するときの警告画面
        display:none;
        position:fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        width:70%;
        height:70%;
        border-radius:20px;
        background-color:white;
        p{//ボタンや警告テキストの背景とborderの設定
            background-color:black;
            border:solid 5px yellow;
            border-radius:20px;
        }
        #WarningText{//（本当に削除しますか）って書いてあるpタグの設定 
            margin:50px 30px 0 30px;
            text-align:center;
            font-size:60px;
        }
        #warningButtons{
            display:flex;
            position:absolute;
            bottom:30px;
            right:0;
            left:0;
            margin:auto;
            p{
                position:relative;
                margin:0 30px;
                padding:30px 0;
                width:50%;
                text-align:center;
                font-size:60px;
            }
        }
    }
    #AdditionalScreen{//新しいボタンやテキストを追加する画面の設定
        display:none;
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        background-color:white;
        width:70%;
        height:550px;
        border-radius:20px;
        #CrossBlock{//✖️ボタンの設定
            font-size:50px;
            float:right;
            height:50px;
            width:50px;
            text-align:center;
            margin-right:10px;
        }
        #Buttons{//newButtonかnewtextどちらにするか選ぶボタン
            //background-color:red;//みやすいように色を付ける
            width:70%;
            height:30%;
            margin:0 auto;
            p{
                margin-top:30px;
                display:inline-block;
                font-size:30px;
                text-align:center;
                color:white;
                background-color:black;
                border-radius:10px;
                padding:10px;
                width:30%;
                box-shadow:0 6px black;
                position:relative;
            }
            #A{
                float:right;
                border:dashed 5px yellow;
            }
            #B{
                float:left;
                border:solid 5px yellow;
            }
        }
        #TextInputBox{//名前や文章の入力欄Box
            //background-color:red;//見やすいように色を付ける
            height:50%;
            #Binput{//newButtonの入力欄
                margin:auto;
                outline: none;
                font-size:30px;
                @include inputSet();
            }
            #Ainput{//newTextの入力欄---------------------------------ここがQuillのdivです-----------------------------------------
                //font-size:20px;
                width:95%;
                height:70%;
                margin:10px auto;
                //resize: none;
                //outline: none;
                @include inputSet();
            }
            #zoomButton{//Ainputの画面を大きくするボタン
                //background-color:red;
                color:black;
                font-size:40px;
                float:right;
                margin-right:15px;
            }
        }
        #OKbuttonbox{
            position:absolute;//OKボタンのいちを下に固定
            bottom:20px;
            right:0;
            left:0;
            #OKbutton{//OKボタン
                position:relative;
                font-size:40px;
                background-color:yellow;
                border:solid 5px black;
                width:50%;
                height:50px;
                margin:auto;
                box-shadow:0 6px black;
                border-radius:10px;
                p{
                    padding:0;
                    margin:0;
                    text-align:center;
                }
            }
        }
    }
}
#EditButton,#removeButton,#addButton{//プラスボタン、マイナスボタン、編集ボタンの設定.
    color:white;
    font-size:70px;
    margin-top:20px;
    width:80px;
}
#mainbox{
    //background-color:red;//見やすいように色を付ける
    display:flex;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        textarea{
            @include inputSet();
            resize: none;
            outline: none;
            cursor:default;
        }
    }
    #selecs{
        //background-color:red;
        width:50%;
        #Firstselects{//一番上の階層の選択肢の設定
            @include selectSet(yellow);
            //background-color:yellow;
        }
        #Secondselects{//二番目
            @include selectSet(blue);
        }
        #Thirdselects{//三番目
            @include selectSet(green);
        }
        #Fourthselects{//四番目
            @include selectSet(red);
        }
        #Fifthselects{
            @include selectSet(olive);
        }
        #Sixthselects{
            @include selectSet(teal);
        }
        #Seventhselects{
            @include selectSet(lime);
        }
        #Eighthselects{
            @include selectSet(fuchsia);
        }
    }
    #SelectLines{
        width:40%;
        height:100%;
        //background-color: blue;//見やすいように色を付ける
        min-height:500px;
        ul{//戻すって書いてあるやつを戻せば、戻るボタンが縦だった時のデザインになるよ
            height:100%;
            //display:flex;//戻す
            //flex-direction:row-reverse;//戻す
            //flex-wrap: wrap;//戻す
            //background-color:red;
            li{
                //width: 12.5%;//戻す
                //height:48.5%;//戻す
                //margin:0 10px;//戻す
                width:80%;
                margin:20px 5px;
                border-radius:10px;
                text-align:center;
                background-color:black;
                i{
                    font-size:50px;
                    line-height:70px;
                    color:white;
                }
            }
            #YellowLine{
                //background-color: yellow;
                border:solid 5px yellow;
            }
            #BlueLine{
                //background-color: blue;
                border:solid 5px blue;
            }
            #GreenLine{
                //background-color: green;
                border:solid 5px green;
            }
            #RedLine{
                //background-color: red;
                border:solid 5px red;
            }
            #OliveLine{
                //background-color: olive;
                border:solid 5px olive;
            }
            #TealLine{
                //background-color: teal;
                border:solid 5px teal;
            }
            #LimeLine{
                //background-color: lime;
                border:solid 5px lime;
            }
            #FuchsiaLine{
                //background-color: fuchsia;
                border:solid 5px fuchsia;
            }
        }
    }
}
